body {
  margin: 10px;
}

header {
  border-bottom: 1px solid black;
  position: fixed;
  left: 0;
  right: 0;
}

#flex {
  position: relative;
}

.rightPosition {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 20px;
  margin-bottom: 15px;
}
a {
  text-decoration: none;
  color: #000;
}

.logo {
  margin: 2px 20px 10px 20px;
  width: 200px;
}

i {
  font-size: 27px;
  padding-right: 15px;
}

.profileImg{
  border-radius: 50%;
  width: 40px;
}