/* Common Layout */
.centermain {
    padding-top: 70px;
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
    z-index: 2;
}

.totalcontent {
    align-items: stretch;
    border: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    font: inherit;
    font-size: 100%;
    position: relative;
}

/* Common Buttons */
.btn-primary {
    height: 150px;
    margin-top: 63px;
    background-color: white;
    color: #007bff;
    border: 1px solid #007bff;
}

.btn-primary:hover {
    background: #007bff;
    color: white;
    border: 1px solid white;
}

/* Common Links */
.noneunderline {
    text-decoration: none;
    color: black;
    border: none;
}

.noneunderline:hover {
    text-decoration: none;
    color: rgb(61, 58, 58);
}

/* Common Images */
.profileImg {
    border-radius: 50%;
    width: 40px;
}

/* Common Layout Utilities */
#right_float {
    float: right;
    margin-right: 22px;
    margin-bottom: 3px;
}

#left_float {
    float: left;
    padding-right: 20px;
    margin-bottom: 3px;
}

#RL_padding {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 30px;
}

/* Common Box Styles */
.box {
    margin-bottom: 10px;
    background-color: #f5f5f5;
    box-sizing: border-box;
    border: 1px solid #b0b0b9;
    border-radius: 5px;
}

/* Common Popup Styles */
.pop_inner {
    float: right;
    margin-right: 22px;
}

#pop {
    color: black;
    background: antiquewhite;
    border-radius: 9%;
    border: none;
    font-size: 19px;
}

#pop:hover {
    color: antiquewhite;
    background: black;
    border-radius: 9%;
    border: none;
} 