
    header {
      height: 50px;
      border-bottom: 1px solid black;
      position: fixed;
      left: 0;
      right: 0;
      z-index: 1;
      background: #fff;
    }

    #flex {
      position: relative;
    }

    #flex:focus{
      text-decoration: none;
    }

    .leftPosition {
      position: absolute;
      top: 0;
      left: 0;
      padding-right: 20px;
      margin-top: 5px;
      margin-bottom: 5px;
    }

    .rightPosition {
      position: absolute;
      top: 0;
      right: 0;
      padding-right: 20px;
      margin-top: 5px;
      margin-bottom: 5px;
    }

    .icon {
      text-decoration: none;
      color: #000;
    }

    .logo {
      margin: 0.1px 10px 10px 20px;
      width: 40px;
      height: auto;
    }

    #btn {
      font-size: 27px;
      padding-right: 15px;
    }

    .profileImg {
      border-radius: 50%;
      width: 27px;
    }
  